/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background: contain;
  width: 100%; /* make sure to define width to fill container */
  height: 150px; /* define the height in pixels or make sure   */
  /* you have something in your div with height */
  /* so you can see your image */
  max-width: 1400px; /* define the max width */
}

